.grid-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2%;
    gap: 5px;
    background-color: aqua;
}

.card-heroe{
    border: solid 2px #000;
    text-align: center;
}

.imagen-heroe{
    width: 20vw;
}